<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Insert title here</title>
</head>
<body>
<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">상세 정보</h3>

    <!-- 카드 형식으로 회원 상세정보 -->
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container w3-light-grey">
        </div>
        <div class="w3-container">
            <p><strong>직원번호:</strong> <span th:text="${employeeCommand.empNum}">mem_100001</span></p>
            <p><strong>이름:</strong> <span th:text="${employeeCommand.empName}">홍길동</span></p>
            <p><strong>아이디:</strong> <span th:text="${employeeCommand.empId}">honggildong</span></p>
            <p><strong>주소:</strong> <span th:text="${employeeCommand.empAddr}">서울특별시</span></p>
            <p><strong>상세주소:</strong> <span th:text="${employeeCommand.empAddrDetail}">강남구 삼성로</span></p>
            <p><strong>우편번호:</strong> <span th:text="${employeeCommand.empPost}">12345</span></p>
            <p><strong>연락처:</strong> <span th:text="${employeeCommand.empPhone}">010-1234-5678</span></p>
            <p><strong>주민번호:</strong> <span th:text="${employeeCommand.empJumin}"></span></p>
            <p><strong>이메일:</strong> <span th:text="${employeeCommand.empEmail}">hong@example.com</span></p>
        </div>
        <div class="w3-container w3-padding-16 w3-light-grey">
            <!-- 회원 수정, 탈퇴 및 목록으로 돌아가기 -->
            <th:block th:if="${session.auth.grade == 'mem'}">
            <a href="employeeUpdate?empNum=emp_100001	" class="w3-button w3-blue">회원 수정</a> |
            <a href="employeeDelete?empNum=emp_100001" class="w3-button w3-red">회원 탈퇴</a> 
            </th:block>
        </div>
    </div>
</div>
</body>
</html>