<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Login</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src ="/static/js/daumAddressScript.js"></script>
</head>
<body>
    <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">직원 회원가입</h3>
    <p>정보를 입력해주세요</p>
    <form action="employeeRegist" method ="post" th:object="${employeeCommand}">
      <input class="w3-input w3-border" type="text" placeholder="직원 번호" name="empNum" th:value="${employeeCommand.empNum}" readonly="readonly">
      <input class="w3-input w3-section w3-border" type="text" placeholder="이름" name="empName">
      <span style="color:red" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span>
      <input class="w3-input w3-section w3-border" type="text" placeholder="아이디" name="empId">
      <span  style="color:red" th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}"></span>
      <input class="w3-input w3-section w3-border" type="password" placeholder="비밀번호" name="empPw">
      <span style="color:red" th:if="${#fields.hasErrors('empPw')}"  th:errors="*{empPw}"></span>
      <input class="w3-input w3-section w3-border" type="password" placeholder="비밀번호 확인" name="empPwCon">
      <span style="color:red" th:if="${#fields.hasErrors('empPwCon')}" th:errors="*{empPwCon}"></span>
      <input class="w3-input w3-section w3-border" type="text" placeholder="이메일" name="empEmail">
      <span style="color:red" th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span>
      <input class="w3-input w3-section w3-border" type="text" id="sample4_roadAddress" placeholder="주소" name="empAddr">
      <span style="color:red" th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"></span>
      <input class="w3-input w3-section w3-border" type="text" placeholder="상세 주소" name="empAddrDetail">
      <button class="w3-button w3-black w3-section" type="button" onclick="execDaumPostcode();">우편번호검색</button>
      <input class="w3-input w3-section w3-border" type="text" id="sample4_postcode" placeholder="우편번호" name="empPost">
      <input class="w3-input w3-section w3-border" type="text" placeholder="연락처" name="empPhone">
      <span style="color:red" th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span>
      <input class="w3-input w3-section w3-border" type="text" placeholder="주민번호" name="empJumin">
      <span style="color:red" th:if="${#fields.hasErrors('empJumin')}" th:errors="*{empJumin}"></span><br/>
      <button class="w3-button w3-black w3-section" type="submit">회원가입</button>
      <button class="w3-button w3-black w3-section" type="submit" onclick="window.location.href='/';">홈</button>
    </form>
  </div>
</body>
</html>