<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Insert title here</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src ="/static/js/daumAddressScript.js"></script>
</head>
<body>

<div class="w3-container w3-padding-32" id="contact">
<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">내정보수정</h3>
<form action="memberUpdate" method ="post" th:object="${memberCommand}">
<input type="hidden" name="memberPw" value="!111Qqqq" />
<input type="hidden" name="memberPwCon" value="!111Qqqq" />
	  <input class="w3-input w3-section w3-border" type="text" th:field="*{memberNum}" name="memberNum" readonly = "readonly">
      <input class="w3-input w3-section w3-border" type="text" placeholder="이름" name="memberName" th:value="${memberCommand.memberName}">
      <span style="color:red" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></span>
      <input class="w3-input w3-section w3-border" type="text" placeholder="아이디" name="memberId" th:value="${memberCommand.memberId}">
      <span  style="color:red" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}"></span>
      <input class="w3-input w3-section w3-border" type="text" placeholder="이메일" name="memberEmail" th:value="${memberCommand.memberEmail}">
      <span style="color:red" th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}"></span>
      <input class="w3-input w3-section w3-border" type="text" id="sample4_roadAddress" placeholder="주소" name="memberAddr" th:value="${memberCommand.memberAddr}" readonly="readonly" >
      <span style="color:red" th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}"></span>
      <button class="w3-button w3-black w3-section" type="button" onclick="execDaumPostcode();">우편번호검색</button>
      <input class="w3-input w3-section w3-border" type="text" placeholder="상세주소" name="memberAddrDetail" th:value="${memberCommand.memberAddrDetail}">
      <input class="w3-input w3-section w3-border" type="text" id="sample4_postcode" placeholder="우편번호" name="memberPost" th:value="${memberCommand.memberPost}" readonly="readonly">
      <input class="w3-input w3-section w3-border" type="text" placeholder="연락처" name="memberPhone" th:value="${memberCommand.memberPhone}">
      <span style="color:red" th:if="${#fields.hasErrors('memberPhone')}" th:errors="*{memberPhone}"></span><br/>
      <input type="radio" name="gender" value="M" checked="checked"/>남자
				<input type="radio" name="gender" value="F"/>여자<br />
      <button class="w3-button w3-black w3-section" type="submit">수정완료</button>
      <button class="w3-button w3-black w3-section" type="button" onclick="window.location.href='/'">홈</button>
</form>
</body>	
</html>