<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring_boot_board.mapper.MemberMapper">
<sql id="memberBaseColumns">
		MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW
	  , MEMBER_EMAIL, MEMBER_POST, MEMBER_PHONE, GENDER
	  , MEMBER_REGIST, MEMBER_ADDR, MEMBER_ADDR_DETAIL
</sql>
<insert id="memberInsert" parameterType="memberDTO">
    INSERT INTO members (
      <include refid="memberBaseColumns" />
    ) 
    VALUES (
      #{memberNum}, #{memberName}, #{memberId}, #{memberPw},
      #{memberEmail}, #{memberPost}, #{memberPhone}, #{gender},
      sysdate, #{memberAddr}, #{memberAddrDetail}
    )
</insert>

<select resultType="memberDTO" id="memberSelectOne" parameterType="string" >
	select <include refid="memberBaseColumns" />
	from members
	where member_num = #{memberNum, jdbcType=VARCHAR}
</select>

<update id="memberUpdate" parameterType="memberDTO">
	update members
	<trim prefix="set" suffixOverrides=",">
		member_Name = #{memberName},
		member_ADDR = #{memberAddr},
		member_Addr_Detail = #{memberAddrDetail},
		member_Post = #{memberPost},
		gender = #{gender},
		member_Phone = #{memberPhone},
		member_Email = #{memberEmail}
	</trim>
where MEMBER_NUM = #{memberNum, jdbcType=VARCHAR}
</update>
<delete id="memberDelete" parameterType="String">
delete from members
	where member_num = #{memberNum, jdbcType=VARCHAR}
</delete>

<select id="memberNumById" parameterType="String">
select member_num from members
where member_id = #{memberId}
</select>

<select id="memberSelectList" resultType="memberDTO" parameterType="startEndPageDTO">
select *
from (select ROW_NUMBER() over (order by member_num ) as rn  
	        ,<include refid="memberBaseColumns"/>
	  from members
<where> 
	<if test="searchWord != null">
		MEMBER_NAME like '%'||#{searchWord}||'%'
		or MEMBER_ID like '%'||#{searchWord}||'%'
		or MEMBER_NUM like '%'||#{searchWord}||'%'
	</if>
</where>
)
where rn BETWEEN #{startRow} and #{endRow}
</select>

<select id="memberCount" resultType="integer">
	select count(*) from members
</select>
<select id="memberNumSelect" parameterType="string" resultType="string">
	select member_num from members where member_id = #{memberId}
</select>
</mapper>