<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table width="800" align="center">
<caption>[[${goodsCommand.goodsName }]] 상품정보입니다.</caption>
<tr><td rowspan="5"><img th:src="|/static/upload/${goodsCommand.goodsMainStoreImage }|" height="200" width="200" /></td>
					<td>[[${goodsCommand.goodsName }]]</td></tr>
<tr>                <td>[[${goodsCommand.goodsPrice }]]</td></tr>
<tr>                <td>들여다본 수 : [[${goodsCommand.visitCount }]]</td>
<tr>                <td>수량 : <input type="number" min="1" step="1" value="1" id="cartQty"/> </td></tr>
<tr>                <td>	
					<!--  <th:block th:if="${dto.stock > 0 and dto.stock != null}">-->	
						<button type="button" id="cartBtn">장바구니</button> | 
 						<button type="button" id="buyItem">바로구매 </button> |
 					<!--</th:block>	 -->
 					<!--<th:block th:if="${dto.stock <= 0 or dto.stock == null}">
 						품절입니다. 곧 입고될 예정입니다.
 					</th:block>-->	
 					
					<img th:if="${wish <= 0 or wish == null}" src="/static/images/hart1.jpg" id="wish" width="20"/>
					<img th:if="${wish > 0 }"src="/static/images/hart.jpg" id="wish" width="20"/>찜</td></tr>
<tr><td colspan="2">
		<span id="descript">제품 상세 설명</span> | 
		<span id="review">리뷰</span> | 
		<span id="inquire">상품문의</span>
	</td></tr>
<tr><td colspan="2"><div id="content"></div></td></tr>
</table>
</body>
</html>